<% content_for :signin do %>
  <style>
    #signinform {
      width:50%;
      margin-left:15rem;
      border-radius:0.5rem;
      background-color:#f5f5f5;
      box-shadow:0 1.5px 4px rgba(0,0,0,0.24), 0 1.5px 6px rgba(0,0,0,0.12);
    }
  </style>
  <div class="container">
    <form id = 'signinform'style="" class="p-5 mt-5 mb-5">
      <%= form_for :session, url:"/session_create", method:'PUT' do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: "btn btn-outline-success mt-5", style: "color:black !important" %>
        <%= link_to "Sign Up",new_user_path,:class => "btn btn-outline-primary mt-5 ml-5", style: "color:black !important" %>
      <% end %>


    </form>
  </div>

<% end %>
