<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container article_heading">
  <div class="field">
    <%= f.label :article_link %>
    <%= f.text_field :article_link,:class => "form-control", placeholder: "Enter Article Link" %>
  </div>

  <div class="field">
    <%= f.label :article_text %>
    <%= f.text_area :article_text,:class => "form-control", :placeholder => "Enter Article Text" %>
  </div>

  <div class="field">
    <%= f.label :article_title %>
    <%= f.text_area :article_title,:class => "form-control", placeholder: "Enter article title" %>
  </div>

  <div class="field">
    <%= f.label :article_description %>
    <%= f.text_field :article_description,:class => "form-control" , placeholder: "Enter Article Description" %>
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.hidden_field :is_admin, :value => true %>

  </div>
  <div class="actions">
    <%= f.submit  :class => "btn btn-sm btn-dark"%>
  </div>
</div>

<% end %>
