<% content_for :signin do %>
  <div class="container">
    <h1 class="article_heading">Editing Article</h1>
    <%= render 'form', article: @article %>
    <%= link_to 'Show', @article %>
    <%= link_to 'Back', articles_path %>
  </div>

<% end %>