<% content_for :signin do %>
<p id="notice"><%= notice %></p>
<div class="container">
<h1 class="article_heading">Highlights of 2018! Welcome to 2019!!</h1>
  <% @articles.each do |article| %>
    <ul class="article_heading">
      <li>
        <div class="row title_heading">
          <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="col-md-12">
              <b><%= article.article_title %></b>
              <br>
            </div>
          </a>
        </div>
      </li>
    </ul>
    <div class="collapse" id="collapseExample">
      <div class="card-header" style="color:white">
        <%= article.article_text %><i class="fas fa-external-link float-right" aria-hidden="true"><%= link_to 'Know More', article , class: "fas fa-external-link-square-alt" , style: "color:white;"%></i>
        <footer class="blockquote-footer article_heading">Written By <cite title="Source Title"><%= Article.get_email article %></cite></footer>
      </div>
      <div class="card card-body">
        <h5 class="card-title"><%= article.article_title %></h5>
        <%= article.article_description %>
        <%= form_tag({controller: "comments", action:"create"}, method: "get") do %>
          <div class="field">
            <div class="control">
              <%= text_area_tag :content,"" ,class:"form-control", placeholder: "Your comment on this post..." %>
              <%= hidden_field_tag :article_id ,article.id %>
            </div>
            <div class="float-right">
              <i class="fas fa-thumbs-up" style="color:green"><%= link_to "UpVote",create_like_path(article) %></i>
              <i class="fas fa-thumbs-down" style="color:red;"><%= link_to "DownVote",create_dislike_path(article) %></i>
            </div>
            <div>
                <span style="color:green">No of Upvotes:<%= Article.no_of_likes article  %></span><br>
                <span style="color: red">No of DownVotes:<%= Article.no_of_dislikes article%></span>
            </div>
            <div style="text-align: center">
              <i class=""></i><%= link_to 'See All Comments', article ,class:"fas fa-comments", style: "text-decoration:none"%>
            </div>
          </div>
          <%= submit_tag :submit, class: "btn btn-success btn-sm" %>
        <% end %>

      </div>
      <hr>
      <% if article.user_id == session[:user_id] %>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="coll-md-10">
              <%= link_to 'Edit my post', edit_article_path(article),class:"btn btn-sm btn-outline-dark fas fa-edit" %>
            </div>
            <div class="col-md-2 float-right">
              <%= link_to '', article, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-sm btn-outline-danger fas fa-trash-alt" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% end %>


<!--  NO ARTICLES MESSAGE-->
<% if @no_articles %>
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Sorry!! No Artciles Come Back Later.</h4>
      <p>Thanks For Choosing F22 Articles Site....Come back Later for More Articles...!!</p>
    </div>
<% end %>
<%= link_to 'New Article', new_article_path %>
</div>
<% end %>