
<% content_for :signin do %>
  <div class="container"><b>
  <h1 class="article_heading">Create a Article</h1>

  <%= render 'form', article: @article %>

  <%= link_to 'Back', articles_path %>
  </div>
<% end %>
