<% content_for :signin do %>
<div class="container article_heading">
<p>
  <strong>Article link:</strong>
  <%= @article.article_link %>
</p>

<p>
  <strong>Article text:</strong>
  <%= @article.article_text %>
</p>

<p>
  <strong>Article title:</strong>
  <%= @article.article_title %>
</p>

<p>
  <strong>Article description:</strong>
  <%= @article.article_description %>
</p>
  <h1 class="center_heading">Comments for this Post..</h1>
  <% (Comment.get_comments_article @article).each do |item|%>
    <div class="card mb-3" style="color: black; font-family: monospace ;font-size: 20px;  ">
        <%= item.comment_body %>.
    </div>
  <% end %>
  <% if (Comment.get_comments_article @article).empty? %>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">No one has commented on this article!!!....</h4>
      <p>Thanks For Choosing F22 Articles Site....Come back Later for More Comments...!!</p>
    </div>
  <% end %>
<%= link_to 'Back', articles_path %>
</div>
<% end %>