<%= form_for(user) do |f| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> Please Check the  Entered Values</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :email,'Email Address' %>
    <%= f.text_field :email,type:"email", class:'form-control' %>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
      else.
    </small>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.text_field :password, type:"password", class:'form-control'  %>
  </div>
  <div class="actions">
    <%= f.submit 'SIGN UP', :class=> 'btn btn-primary' %>
  </div>
<% end %>
