<% content_for (:signin) do %>
  <div class="container article_heading" style="width:40%;margin-top: 6rem;">
  <h1 style="text-align: center;font-family: Helvetica Neue">Sign Up For F22</h1>
<%= render 'form', user: @user %>

<%= link_to 'Signin', root_path%>
  </div>
<% end %>
