/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-image: url('/assets/home_sec.jpg');
    background-size: 100%;
    color:white;

}
.article_heading {
    color:white !important;
    font-family: arial, sans-serif;
}
.btn {
    color: white !important;
}
hr {
    color:red !important;
}
.title_heading {
    font-size: 20px;
}
.center_heading {
    text-align: center;
}