<% if (!user_signed_in) && (params.to_unsafe_h[:controller] != 'articles') %>
<div class="container-fluid" style="background-color:#f5f5f5;position: absolute;bottom:0px;">
  <footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.linkedin.com/in/samala-sumanth-82431161/">Samala Sumanth</a>
    </div>
  </footer>
</div>
<% end %>